<div class="container">
    <div class="logo"> 
        <img src="../../../assets/Logo.png" id="logo">
    </div>

    <div class="redes">
        <div>
            <a href="https://www.instagram.com/christiannasple/"><img src="../../../assets/Instagram.png" id="instagram"></a>
            <a href="https://github.com/Naspleda/ProyectoIntegrador"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.linkedin.com/in/christian-naspleda/"><img src="../../../assets/Linkedin.png" id="linkedin"></a>
            <button type="button" class="btn btn-outline-light">Login</button>
        </div>
        
    </div>
</div>