<div class="row g-0"><h1>Experiencia</h1>
    <div  *ngFor="let experiencia of experiencias">  
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 parte1">
            <h4>{{experiencia.tituloExp}} - ({{experiencia.fechaExp}})</h4>
            <br>
            <img src="{{experiencia.imagenExp}}" style="width: 100px; margin-bottom: 20px;">
        </div>

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 parte3">
            <p>{{experiencia.descripcionExp}}</p>
        </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte3">
            <a 
            (click)="onOpenModal('edit', experiencia)"
            class="btn btn-primary tooltips"
            data-placement="top"
            data-toggle="modal"
            data-target="#editExperienceModal"
            data-original-title="Edit"
            ><i class="fa fa-pencil"></i>
        </a>
            <a
            (click)="onOpenModal('delete', experiencia)"
            class="btn btn-primary tooltips"
            data-placement="top"
            data-toggle="modal"
            data-target="#deleteExperienceModal"
            data-original-title="Delete"
            ><i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <div>
        <!-- Botón Añadir -->
        <div class="text-center">
            <button type="button" class="btn btn-success" data-target="#addExperienceModal" data-toggle="modal">
                <a class="nav-link" style="color: white">
                    Añadir experiencia <span class="sr-only"> (current) </span>
                </a>
            </button>
        </div>
    </div>

</div>


<!--Creando Modal-->
<div class="modal fade" id="addExperienceModal" tabindex="-1" role="dialog" aria-labelledby="addExperienceModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExperienceModalLabel">Añadir Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
                    <div class="form-group">
                        <label for="tituloExp">Titulo</label>
                        <input type="text" ngModel name="tituloExp" class="form-control" id="tituloExp"
                            placeholder="Titulo" required>
                    </div>

                    <div class="form-group">
                        <label for="fechaExp">Fecha</label>
                        <input type="text" ngModel name="fechaExp" class="form-control" id="fechaExp"
                            placeholder="Fecha" required>
                    </div>

                    <div class="form-group">
                        <label for="descripcionExp">Descripcion</label>
                        <input type="text" ngModel name="descripcionExp" class="form-control" id="descripcionExp"
                            placeholder="Descripcion" required>
                    </div>

                    <div class="form-group">
                        <label for="imagenExp">Imagen</label>
                        <input type="text" ngModel name="imagenExp" class="form-control" id="imagenExp"
                            placeholder="imagen" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-experiencia-form" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                            Añadir cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
    Edit Modal
-->

<div class="modal fade" id="editExperienceModal" tabindex="-1" role="dialog" aria-labelledby="editExperienceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editExperienceModalLabel">
                    Edit Experience {{ editExperience?.tituloExp }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <form #editForm="ngForm">
                    <label for="name">Title</label>
                    <input type="text" ngModel="{{ editExperience?.tituloExp }}" name="tituloExp" class="form-control"
                        id="tituloExp" aria-describedby="emailHelp" placeholder="Title">
                    
                    <input type="hidden" ngModel="{{ editExperience?.idExp }}" name="idExp" class="form-control"
                        id="idExp" placeholder="" />

                    <div class="form-group">

                        <label for="descripcionExp">Descripcion</label>
                        <input type="text" ngModel="{{editExperience?.descripcionExp}}" name="descripcionExp"
                            class="form-control" id="descripcionExp" placeholder="descripcion" />
                    </div>

                    <div class="form-group">
                        
                        <label for="phone">Start date</label>
                        <input type="text" ngModel="{{ editExperience?.fechaExp }}" name="fechaExp" class="form-control"
                            id="fechaExp" placeholder="Job title" />
                    </div>

                    <div class="form-group">
                        <label for="imagenExp">Imagen URL</label>
                        <input type="text" ngModel="{{ editExperience?.imagenExp }}" name="imagenExp"
                            class="form-control" id="imagenExp" placeholder="Image URL" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
                            Close
                        </button>
                        <button (click)="onUpdateExperiencia(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div
    data-ds-toggle="modal" data-bs-target="#deleteModelLabel"
    class="modal fade"
    id="deleteExperienceModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModelLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Experience</h5>
                <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                >
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete experience? {{deleteExperience?.tituloExp}}</p>
                <div class="modal-footer">
                    <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    >
                    No
                </button>
                <button
                    (click)="onDeleteExperiencia(deleteExperience!.idExp)"
                    class="btn btn-danger"
                    data-dismiss="modal"
                > Yes
                </button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Noticacion -->
    <div *ngIf="experiencias?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No hay experiencias!</h4>
            <p>No se encontraron experiencias</p>
        </div>
    </div>
